<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="..\Css\styleExHTML.css" />
  </head>
  <body>
    <header>
      <h1>Cidades</h1>
    </header>
    <section>
      <nav>
        <li><a href="#">Londres</a></li>
        <li><a href="#">Paris</a></li>
        <li><a href="#">Tokyo</a></li>
      </nav>
      <article>
        <h2>Londres</h2>
        <p>
          Londres é a capital de Inglaterra. Ela é a mais popular cidade do Reino
          Unido, com uma área metropolitana de cerca de 13 milhões de
          habitantes.
        </p>
      </article>
    </section>
    <footer>
      <p>IEFP - AFONSO FIGUEIREDO - Todos os Direitos Reservados</p>
    </footer>
  </body>
</html>
