<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <style>
    div {
      width: 100px;
      height: 100px;
      display: inline-block;
      margin: 10px;
    }
  </style>
  <body>
    <div id="111" class="222" title="333" style="background-color: brown;">
      <p>Divisao 01</p>
    </div>
    <div style="background-color: blue">
      <p>Divisao 02</p>
    </div>
    <div style="background-color: red">
      <p>Divisao 03</p>
    </div>
  </body>
</html>
