<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #cabecalho {
        background-color: #f0f0f0;
        padding: 10px;
        text-align: center;
    }

    #corpo {
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }

    .sessao_conteudo {
        background-color: #f0f0f0;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }

    #rodape {
        background-color: #f0f0f0;
        padding: 10px;
        text-align: center;
        color:blue
    }
</style>
<body>
    <div id="cabecalho">
        <h2>Meu Documento em Div</h2>
    </div>

    <div id="corpo">
        <div class="sessao_conteudo">
            <h3>Meu Conteudo 01</h3>
            <p>Meu Paragrafo com Texto</p>
            <p>Meu Paragrafo com Texto</p>
        </div>

        <div class="sessao_conteudo">
            <h3>Meu Conteudo 02</h3>
            <p>Meu Paragrafo com Texto</p>
            <p>Meu Paragrafo com Texto</p>
        </div>
    </div>

    <div id="rodape">
        <p>Desenvolvido por: Afonso Figueiredo</a></p>
</body>
</html>