<!DOCTYPE html>
<!-- Tag Obrigatório Ficheiros HTML5 -->
<html lang="pt-pt">
    <!-- Diz a Lingua em que está a Trabalhar -->
    <head>
        <!-- Cabeçalho -->
        <meta charset="UTF-8" />
        <!-- META CHARSET - TAG Coleção de Caratéres Latinos -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- NAME VIEWPORT: Referência a um Conjunto de Elementos utilizado por HTML / CONTENT: Parte Define a largura da Pagina para seguir a largura do dispositivo / INITIAL SCALE: Parte define o nivel de ZOOM Inicial quando a página é carregada pela primeira vez pelo navegador. -->
        <title>Afonso Website</title>
        <!-- TITULO -->
        <meta name = "description" content = "Descrição da Página" /> <!-- Descrição da Página para os Motores de Busca -->
        <meta name = "keywords" content = "Palavras Chave" /> <!-- Palavras Chaves para Procurar pelo Site-->
        <!-- META NAME: Nome do Elemento / CONTENT: Conteúdo do Elemento -->
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <!-- LINK: Referência a um Ficheiro Externo / HREF: Localização do Ficheiro / REL: Relação entre o Documento Atual e o Ficheiro Ligado / TYPE: Tipo de Ficheiro -->
    </head>
    <body bgcolor="#777777">
        <!-- Nesta área fica TUDO que é para ser Visualizado-->
        <script src="js/script.js" type="text/javascript"></script> <!-- Fica no Body para ser mais rapido o html-->
        <!-- SCRIPT: Define um Script Embutido / SRC: Localização do Ficheiro / TYPE: Tipo de Ficheiro -->
        <h1 style="background-color: darkblue; color: aliceblue;">FORMATAÇÕES</h1>
        <i>italico</i>
        <br />
        <u>Sublinhado</u>
        <br />
        <b>Negrito</b>
        <br />
        <strong>Fortemente Negrito</strong>
        <br />
        <em>Enfase</em>
        <br />
        <style>
            .yellow {
                background-color: yellow;
            }

            .green {
                background-color: green;
                color: white;
            }

            .blue {
                background-color: blue;
                color: white;
            }
        </style>

        <!-- Your existing code -->
        <!-- BEGIN: ed8c6549bwf9 -->
        <mark class="yellow">Marcação</mark>
        <!-- END: ed8c6549bwf9 -->

        <!-- Additional examples -->
        <mark class="green">Green Mark</mark>
        <mark class="blue">Blue Mark</mark>
        <br />
        <small>Pequeno</small>
        <br />
        <del>Riscado</del>
        <br />
        <s>Riscado Tambem</s>
        <br />
        <ins>Sublinhado</ins>
        <br />
        <sub>Subscrito</sub>
        <br /> 
        <sup>Superescrito</sup>
        <br />
        <p>Paragrafo</p>
        <br />
        <hr /> <!-- Linha Horizontal -->
        <center>Centrar</center>
        <br />
        <p align="right">Alinhar à Direita</p>
        <br />
        <p align="left">Alinhar à Esquerda</p>
        <br />
        <p align="justify">Justificar</p>
        <br />
        <hr /> <!-- Linha Horizontal -->
    </body>
</html>
</div>