<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Index</h1>
    <a href="/clientes">Clientes</a>
    <a href="/reservas">Reservas</a>
    <a href="/quartos">Quartos</a>
</body>
</html>